
.cont__confirmation {
    margin: 20px auto;
    border-radius: 8px;
    background-color: bisque;
    padding: 20px;
}

.confirmation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: green;
}